<%- include('cabecera_inicio')%>
<div class="parrafos" style="margin-top: 50px;margin-left: 50px; width: 800px;">
       <h5>¿Quienes somos?</h5>
         <p>HostEst es una plataforma española pensada para universitarios, estudiantes de idiomas, solteros o parejas jóvenes sin hijos que buscan encontrar una residencia que se adapte a ellos sin necesidad de invertir excesivo tiempo en la búsqueda de la misma. Desde HostEst proporcionamos un portal con una amplia gama de viviendas en las principales ciudades españolas tanto para personas de España, como para estudiantes de Erasmus o personas que se han desplazado a nuestro país por motivos laborales o académicos. Pero esto no es todo, si tienes una vivienda y no quieres correr riesgos con tus inquilinos, podrás registrarte y nosotros nos encargaremos de que te lluevan las ofertas por ella.</p><br>
            <img src="images/gestion.jpg"><br><br>
       <h5>¿Estás interesado en colaborar con nosotros?</h5>
         <p>Si estas buscando empleo, te sientes identificado con nuestra manera de hacer las cosas y piensas que puedes aportar tu pequeño granito de arena a esta empresa, no lo dudes y ponte en contacto con nosotros. Desde HostEst te recibiremos con los brazos abiertos. Somos una compañía con afán por facilitar la vida a las personas, y en especial, a aquellas que están lejos de sus casas. Ya lo sabes, pulsa el botón de contacto y encuentra un sitio ideal donde desarrollarte profesional y personalmente. Porque lo mas importante son las personas.</p><br>
            <img src="images/empleados.jpg"><br><br>
    </div>
<%- include('foot')%>