<%- include('cabecera_propietario')%>
<%- messages %>
 <div class="bloque">
    <form  method="post" action="/crearVivienda">
       <label for="user"><strong>Direcci칩n:</strong></label><br>
       <input type="text" id="direccion" name="direccion"><br>
       <label for="user"><strong>Localidad:</strong></label><br>
       <input type="text" id="localidad" name="localidad"><br>
       <label for="user"><strong>Precio:</strong></label><br>
       <input type="number" id="precio" name="precio"><br>
       <label for="contrase침a"><strong>Propietario:</strong></label><br>
       <input type="text" id="propietario" name="propietario"><br>
       <label for="user"><strong>Numero de Inquilinos:</strong></label><br>
       <select id="nInquilinos" name="nInquilinos">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5 o m치s</option>
       </select><br><br>
       <button class="btn btn-dark" type="submit">A침adir</button>
       <a class="btn btn-danger" id="cancelar" href="/misViviendas">Cancelar</a><br><br>
    </form>
  </div>
<%- include('foot')%>