<div class="container-xxl">
      <div class="izq" style="float: left; margin-left: 50px; ;">
        <h5>Asistencia</h5>
        <ul>
          <li>Centro de ayuda</li>
          <li>Información de seguridad</li>
          <li>Privacidad</li>
          <li>¿Problemas?</li> 
        </ul> 
      </div>
      <div class="centro" style=" float: left; margin-left: 23%;">
        <h5>Información</h5>
        <ul>
          <li>Contacto</li>
          <li>Condiciones</li>
          <li>Guia de uso</li>
          <li>HostEst premium</li> 
         </ul>  
      </div>
      <div class="drch" style=" float: right; margin-right: 50px;">
        <h5>Acerca de</h5>
        <ul> 
          <li>Empleo</li>
          <li>Inversores</li>
          <li>Fundadores</li> 
          <li>Datos de la empresa</li> 
        </ul> 
      </div>
    </div> 
</body>
</html>