<%- include('cabecera_Inicio')%>
<div class="parrafos" style="margin-top: 50px;margin-left: 50px; width: 800px;">
       <h5>Busca alojamiento de una forma rápida y segura</h5>
         <p>Estas a un solo de click de encontrar la casa de tus sueños, y lo mejor, en unos pocos segundos y con la garantía de no tener ningún incidente que te amargue esta nueva experiencia que supone irse a otra ciudad. Desde HostEst contamos con un servicio de asistencia de incidencias en caso de problemas con un inquilino, propietario o la propia vivienda, además nuestro seguro te proporcionará la seguridad de estar cubierto frente a cualquier imprevisto. </p><br>
            <img src="images/alojamiento.jpg"><br><br>
       <h5>Te ayudamos a adaptarte a tu nueva ciudad</h5>
         <p>Cambiar de ciudad y/o de país siempre es complicado, pero desde HostEst te lo haremos más llevadero, en nuestra plataforma encontrarás viviendas cerca de los lugares mas emblemáticos de la ciudad, además de que podrás buscar aquellas que esten mas cerca de tu trabajo o universidad, gimnasios, supermercados y mucho más. No pierdas más el tiempo y regístrate, es muy sencillo.</p><br>
            <img src="images/ciudad.jpg"><br><br>
       <h5>Encuentra la vivenda que mejor se adapta a ti</h5>
         <p>Nuestra amplia oferta te permitira encontrar una vivienda con las características que mejor se adecuen a ti, podrás encontrar desde pisos compartidos a individuales, compartir casa con estudiantes tanto nacionales como internacionales, en el centro de las ciudades o en sus proximidades. Podrás fijar el rango de precio que estas dispuesto a desembolsar y aplicar infinidad de filtros de búsqueda más. No lo pienses empieza a buscar ya.</p><br>
            <img src="images/vivienda.jpg">
    </div>
<%- include('foot')%>